body {
  background-image: url(../Multimedia/fondonavidad.jpg);
  background-attachment: fixed;
  background-size: cover; }

.elegirtamano-0.5rem {
  font-size: 0.5rem;
  height: 0.5rem;
  width: 0.5rem; }

.elegirtamano-0.7rem {
  font-size: 0.7rem;
  height: 0.7rem;
  width: 0.7rem; }

.elegirtamano-1rem {
  font-size: 1rem;
  height: 1rem;
  width: 1rem; }

.elegirtamano-1.3rem {
  font-size: 1.3rem;
  height: 1.3rem;
  width: 1.3rem; }

.elegirtamano-1.5rem {
  font-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem; }

.elegirtamano-1.7rem {
  font-size: 1.7rem;
  height: 1.7rem;
  width: 1.7rem; }

.elegirtamano-2rem {
  font-size: 2rem;
  height: 2rem;
  width: 2rem; }

.elegirtamano-2.5rem {
  font-size: 2.5rem;
  height: 2.5rem;
  width: 2.5rem; }

.elegirtamano-3rem {
  font-size: 3rem;
  height: 3rem;
  width: 3rem; }

h1 {
  display: flex;
  justify-content: center;
  background: beige;
  background: linear-gradient(180deg, beige 19%, #bee6b0 59%, #96d996 100%);
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  color: #004b23;
  font-size: 3rem;
  margin-left: 1rem;
  margin-right: 1rem; }

.fraseInicial {
  display: flex;
  justify-content: center;
  background-color: beige;
  height: 120;
  width: 170;
  font-weight: 1300;
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem; }

.menuNavegacion__links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem; }
  .menuNavegacion__links li {
    font-size: 1.5rem;
    font-style: bold;
    list-style: none; }
  .menuNavegacion__links a {
    color: #264653;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    background-color: beige;
    border-style: groove;
    border-color: #004b23;
    border-radius: 10px;
    padding: 0.1rem;
    padding-left: 5rem;
    padding-right: 5rem; }
  .menuNavegacion__links a:hover {
    background-color: #abe9b9;
    border-radius: 10px; }

.pieDePagina {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Mountains of Christmas";
  background-color: #003e1f;
  color: #c20114;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.01rem;
  margin-top: 3rem;
  flex-direction: column; }

.contenedorLogo {
  display: flex;
  justify-content: center; }

.contenedorLogo__imagenLogo {
  width: 10%;
  height: 10%; }

.mainContent {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 3rem; }

.mainImage img {
  display: inline-flex;
  width: 30rem;
  height: 20rem;
  min-width: 0;
  min-height: 0;
  align-items: center;
  background-color: beige;
  padding: 1rem;
  border-radius: 20px;
  margin: 0.5rem; }

.mainText {
  display: flex;
  justify-items: flex-end;
  background-color: beige;
  margin-top: 3rem;
  margin-bottom: 4rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  border-radius: 20px;
  margin-left: 1rem;
  margin-right: 1rem; }

.imagenesGaleria {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-areas: "img img" "img img" "img videoGaleria";
  justify-content: center;
  align-content: center;
  margin-top: 2rem; }
  .imagenesGaleria img {
    height: 65%;
    width: 90%;
    background-color: beige;
    padding: 1.5rem;
    align-content: center;
    border-radius: 10px;
    margin: 0.5rem; }

.videoGaleria {
  height: 65%;
  width: 90%;
  background-color: beige;
  padding: 1.5rem;
  align-content: center;
  border-radius: 20px;
  margin: 0.5rem; }

.textoGaleria p {
  display: inline-block;
  background-color: beige;
  padding: 1rem;
  text-align: center;
  margin-left: 50%;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  border-radius: 20px; }

.presentacion, .textoservicios {
  background-color: beige;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 20px; }

.presentando1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: beige;
  padding: 2rem;
  border-radius: 20px;
  margin: 1rem;
  max-width: 25rem;
  margin-right: auto;
  margin-left: auto; }

.presentando2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: beige;
  padding: 2rem;
  border-radius: 20px;
  margin: 1rem;
  max-width: 25rem;
  margin-right: auto;
  margin-left: auto; }

.presentandoTextokaren {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem; }

.presentandoImagenkaren {
  height: 30rem;
  width: 20rem; }

.presentandoImagenrafael {
  height: 30rem;
  width: 22rem;
  min-width: 0; }

.presentandoTextorafael {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1rem; }

.tablaPresupuestal {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  empty-cells: hide;
  border-radius: 20px;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.3rem;
  border-color: azure;
  align-items: center; }

.imagentelefono {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.formulario {
  max-height: 50%;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto; }

.textoservicios {
  font-size: 1.4rem; }

/* TABLET */
@media screen and (max-width: 768px) {
  h1 {
    display: flex;
    justify-content: center;
    background-color: beige;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: #004b23;
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem; }
  .fraseInicial {
    display: flex;
    justify-content: center;
    background-color: beige;
    font-weight: 500;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    margin: 1rem; }
  .menuNavegacion__links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem; }
    .menuNavegacion__links li {
      font-size: 1rem;
      font-style: bold;
      list-style: none; }
      .menuNavegacion__links li a {
        color: #264653;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        background-color: beige;
        border-style: groove;
        border-color: #004b23; }
  .pieDePagina {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.01rem;
    margin-top: 3rem; }
  .presentacion, .textoservicios {
    font-size: 1.5rem; }
  .mainContent {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 3rem; }
  .mainImage img {
    display: flex;
    width: 30rem;
    height: 20rem;
    min-width: 0;
    min-height: 0;
    align-items: center;
    background-color: beige;
    padding: 1rem;
    border-radius: 20px;
    margin: 1rem; }
  .mainText {
    display: flex;
    justify-items: flex-end;
    background-color: beige;
    max-width: 30rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    padding: 1rem;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
    border-radius: 20px;
    margin-left: 1rem;
    margin-right: 1rem; }
  .imagenesGaleria {
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-areas: "img" "img" "img" "img" "img" "img"  "videoGaleria";
    justify-content: center;
    align-content: center;
    margin-top: 1rem; }
  .imagenesGaleria img {
    height: 65%;
    width: 90%;
    background-color: beige;
    padding: 1.5rem;
    align-content: center;
    border-radius: 10px;
    margin: 0.5rem; }
  .videoGaleria {
    height: 65%;
    width: 90%;
    background-color: beige;
    padding: 1.5rem;
    align-content: center;
    border-radius: 20px;
    margin: 0.5rem; } }

/* MOBILE */
@media screen and (max-width: 500px) {
  h1 {
    display: flex;
    justify-content: center;
    background-color: beige;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem; }
  .fraseInicial {
    display: flex;
    justify-content: center;
    background-color: beige;
    font-weight: 500;
    font-size: 0.8rem;
    font-style: italic;
    text-align: center;
    margin: 1rem; }
  .menuNavegacion__links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    height: 9rem; }
    .menuNavegacion__links li {
      font-size: 0.8rem;
      font-style: bold;
      list-style: none; }
      .menuNavegacion__links li a {
        color: #264653;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        background-color: beige;
        border-style: groove;
        border-color: #004b23; }
  .pieDePagina {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.01rem;
    margin-top: 2rem; }
  .imagenLogo {
    display: flex;
    justify-content: center;
    align-items: center; }
  .mainContent {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 3rem; }
  .mainImage img {
    display: flex;
    width: 20rem;
    height: 15rem;
    min-width: 0;
    min-height: 0;
    align-items: center;
    background-color: beige;
    padding: 1rem;
    border-radius: 20px;
    margin: 1rem; }
  .presentacion, .textoservicios {
    font-size: 1rem; } }
